/* #region Common */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion Common */

/* #region Header */

#site_header{
    background-color: rgb(0, 179, 255);
    background-image: url(./img/pattern.png);
    background-size: 300px;
    padding: 1rem 1rem;
    
}
/* #endregion Header */

/* #region Main */

#site_main{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 12rem;
    margin-right: 12rem;
}

.header{
    font-size: 1.2rem;
}
.author{
    font-size: 1rem;
    color:grey; 
}
.date{
    font-size: 0.9rem;
    padding-bottom: 1rem;
    color:grey; 
}

.content{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    color: black;
}

.caption{
    font-size: 0.6rem;  
}
.paragraph_1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}
.paragraph_2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.table_initial{
    border-spacing: 0;
    text-align: left;
    }

.table_heading{
    background-color: rgb(0, 170, 255);
    color: white;
    height: 1rem;
}

.table_tr_odd{
    background-color: rgb(161, 207, 222);
    height: 3rem;

}

.table_tr_even{
    background-color: white;
    height: 3rem;
}
/* #endregion Main */

/* #region Footer */
#site_footer{
    margin-left: 12rem;
}

.news{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
    font-size: medium;
    padding-bottom: 0.5rem;

}

.footer{
    color: white;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    font-size: large;
    padding: 1rem 1rem;
}

#first_image{
    background-image: url(./img/monitor.jpg);
}

#second_image{
    background-image: url(./img/graph.jpg);
}

/* #endregion Footer */